@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
@theme inline {
  --font-sans: var(--font-inter);
}

/* Дизайн-токены из Figma */
@theme {
  --color-accent-primary: #ff9c2b;
  --color-bg-primary: #0b0b0b;
  --color-bg-accent: #0f0c0a;
  --color-bg-input: rgb(255 255 255 / 0.05);
  --color-bg-secondary: #111114;
  --color-text-secondary: #808080;
  --color-text-white: #ffffff;
  --color-border-input: rgb(127 127 127 / 0.3);
  --color-secondary-stroke: #2a2a30;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-link: #3078ff;
  --color-like: #e94444;
  --color-gold: #ffd700;
  --color-green: #3afa5e;
}

@utility foliant-container {
  max-width: 1440px;
  margin-inline: auto;
  padding: 0 24px 0 24px;
}

@utility glass-blur {
  background-color: rgb(255 255 255 / 0.05);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
}
@utility stripes-pattern {
  background-image: repeating-linear-gradient(
    90deg,
    var(--color-border-input) 0px,
    var(--color-border-input) 1px,
    transparent 1px,
    transparent 5px
  );
}

:root {
  --radius-xl: 0.75rem;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-white);
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  input:not([type="submit"]):not([type="button"]):not([type="file"]):not(
      [type="checkbox"]
    ):not([type="radio"]),
  textarea {
    /* border: 1px solid var(--color-border-input); */
    background-color: var(--color-bg-secondary);
    /* border-radius: var(--radius-xl); */
    color: var(--color-text-white);
    /* padding: 0.5rem 0.75rem; */
    transition: border-color 0.15s ease-in-out;
  }

  input:not([type="submit"]):not([type="button"]):not([type="file"]):not(
      [type="checkbox"]
    ):not([type="radio"]):focus,
  textarea:focus {
    border-color: #ff9c2b75;
    outline: none;
  }

  input:not([type="submit"]):not([type="button"]):not([type="file"]):not(
      [type="checkbox"]
    ):not([type="radio"])::placeholder,
  textarea::placeholder {
    color: var(--color-text-secondary);
  }
}

/* /создать отдельный css файл для Header  */
.glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 30px 15px rgba(255, 255, 255, 1.5);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
